

.container_body{
    margin: 18% 5% 0;
    /* border: 1px solid red; */
}

.container_produtos{
    margin-top: 10%;
    border-top: 2.5px solid rgba(185, 185, 185, 0.526);
    display: flex;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}


.contianer_main{
    border-bottom: solid rgba(145, 145, 145, 0.189) .5px;
    width: 95%;
    height: 20vh;
    display: flex;
    padding: 7% 0;
}

.left_content{
    /* border: solid black 1px; */
    width: 25%;
    height: 100%;
}

.center_content{
    /* border: solid brown 1px; */
    padding: 8px;
    width: 50%;
    height: 100%;
}

.rigth_content{
    /* border: solid purple 1px; */
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product_image{
    width: 100%;
    height: auto;
}


.close_button{
    display: flex;
    align-self: flex-start;
    margin-left: 15%;
    justify-self: center;
    position: absolute;
    border: none;
    /* border-radius: 30px; */
    color: black;
    background-color: transparent;
    font-size: 1.3rem;

}
.button_content{
    border:  1px solid rgba(135, 135, 135, 0.511);;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 40%;
    height: 68%;
}

.button_quantity{
    color: rgb(135, 135, 135);
    background-color: white;
    border: none;
}


.cart_desc{
    /* border: solid red 1px; */
    margin-top: 3vh;
    width: 100%;
}

.cart_title{
    margin-bottom: 3vh;
    padding: 10px 0;
    color: gray;
    border-bottom: 3px solid rgba(128, 128, 128, 0.322);
}


.cart_subtotal{
    border-bottom: solid rgba(128, 128, 128, 0.197) 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0;
}

.cart_entrega{
    color: gray;
    border-bottom: solid rgba(128, 128, 128, 0.197) 1px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0;

}

.cart_total{
    border-bottom: solid rgba(128, 128, 128, 0.249) 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0; 
    margin-bottom: 5vh;
}

.container_button{
    border-bottom: solid rgba(128, 128, 128, 0.324) 3px;
    width: 100%;
    margin-bottom: 7vh;
    padding-bottom: 20px;
}

.button_finish{
    width: 100%;
    height: auto;
    background-color: rgb(31, 31, 31);
    color: white;
    font-size: 1.6rem;
    padding: 20px;
}
