.pbt {
    margin-bottom: 8px;
    border-radius: 0px!important;
    border: transparent !important;
    /* border: solid rgba(162, 162, 162, 0.458) 1px !important; */
}

.imgg{
    border-radius: 0px !important;
}

.post-name{
    /* margin: 0!important; */
    height: 1.5rem;
    margin-top: 8%;
    /* border: 1px solid green; */
}

.post-price{
    /* border: 1px solid blue; */

}

.ajj{
    /* border: 1px solid red; */
    padding: 0!important;
    display: block;

}
