.tag-a{
    text-decoration: none;
    color: inherit;
}
.tag-a:hover{
    color: inherit;
}


.pbt {
    margin-bottom: 10%;
    border-radius: 0px!important;
    border: transparent !important;
}

.imgg{
    border-radius: 0px !important;
}

.ajj{
    padding: 0!important;
    height: 5.7rem;
    display: block;
}

.post-name{
    height: auto;
    display: flex;
    margin-top: 3%;
    font-size: .9rem;
}


.post-price{
    margin-top: 4%;
    height: 2.5rem;
    font-size: .8rem;
}

p{
    margin: 0!important;
}